@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-track {
  background: transparent;
}
